[Unit]
Description=Band Lights

[Service]
ExecStart=/usr/bin/python3 -u lights_show.py palettes.json foot_controls.json lights.json
WorkingDirectory=/home/pi/git/band_lights
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
